@import "tailwindcss";

@font-face {
  font-family: "chillax";
  src: url("/fonts/chillax/Chillax-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Optional bold weight */
@font-face {
  font-family: "chillax";
  src: url("/fonts/Chillax-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

/* LIGHT 300 */
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

/* REGULAR 400 */
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

/* MEDIUM 500 */
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

/* BOLD 700 */
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

/* BLACK 900 */
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@theme {
  --font-chillax: "chillax", sans-serif;
  --font-satoshi: "Satoshi", sans-serif;
  --color-brand-black: oklch(0.1638 0 0);
  --color-brand-primary: oklch(0.8332 0.0468 76.76);
  --color-brand-secondary: oklch(0.2178 0 0);

  /* dark */
  --color-surface: oklch(22% 0.02 230);
  --color-surface-dark: oklch(98% 0 0);
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
